@page "/PublicGroupMessages/{GroupId}"
@using SignalRBlazorChatApp.Components

<MudText Typo="Typo.h4" Align="Align.Center">Public Group Messages</MudText>

@if (_listMessagesDto == null)
{
	<LoadingIndicator />
}
else
{
	<MudTable Items="@_listMessagesDto" Class="table-styles" FixedHeader="true" Height="500px">
		<HeaderContent>
			<MudTh><MudText Align="Align.Center">Test</MudText></MudTh>
		</HeaderContent>
		<RowTemplate>
			@foreach (var item in _listMessagesDto)
			{
				<div>
				@*<MudTd Style="display:none">@item.PublicMessageId</MudTd>
				<MudTd Style="display:none">@item.ChatGroupId</MudTd>
				<MudTd Style="display:none">@item.ChatGroupName</MudTd>
				<MudTd>@item.Text</MudTd>
				<MudTd Style="display:none">@item.UserId</MudTd>
				<MudTd>@item.UserName</MudTd>
				<MudTd>@item.MessageDateTime</MudTd>*@
					<p><b>@item.UserName:</b> @item.Text</p>
					<p><small>@item.MessageDateTime.ToLongDateString() @item.MessageDateTime.ToShortTimeString()</small></p>
				</div>
			}
		</RowTemplate>
		<PagerContent>
			<MudText Align="Align.Center">Test</MudText>
		</PagerContent>
	</MudTable>
}
